server {
    listen 80 default_server;
    server_name registry-testing.ansible.com 
    root /var/www/registry;
    index index.html index.htm;
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log error;
    rewrite ^ https://$http_host$request_uri? permanent;
}    

server {
    listen 443;
    server_name registry-testing.ansible.com 
    root /var/www/registry;
    index index.html index.htm;
    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log error;
    ssl on;
    ssl_certificate /etc/letsencrypt/live/registry-testing.ansible.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/registry-testing.ansible.com/privkey.pem;
    location /v2 {
        proxy_pass http://localhost:5000/v2;
        proxy_set_header Host      $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}    
